.loading-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 1.5rem;
  color: #a2416e;
}

.error-text {
  font-size: 1.5rem;
  color: #dc3545;
}
